<header>
    <!-- Body Header -->

    <div id="logo">
        <!-- <img src="../assets/images/logo.jpg" alt="Logo"> -->
    </div>

    <div id="ul">
        <ul>
            <% if(locals.user){ %>
                <li>
                    <a href="/users/profile"> <%=user.name%> </a>
                </li>
                <li>
                    <a href="/users/signout">Sign Out</a>
                </li>

            <%} else{ %>
                <li>
                    <a href="/users/signin">Sign In</a>
                </li>
                <li>
                    <a href="/users/signup">Sign Up</a>
                </li>

            <%} %>
        </ul>
    </div>
</header>
